// paper & background
$paper: #ffffff;

// primary theme
$primaryMain: #01579b;
$primaryDark: #1e88e5;
$primary50: #eef2f6; // FONDO
$primary100: #b3e5fc;
$primary200: #81d4fa;
$primary300: #4fc3f7;
$primary400: #29b6f6;
$primary500: #03a9f4;
$primary600: #039be5;
$primary700: #0288d1;
$primary800: #0277bd;

// error theme
$errorMain: #e53935;
$error50: #ffebee;
$error100: #ffcdd2;
$error200: #ef9a9a;
$error300: #e57373;
$error400: #ef5350;
$error500: #f44336;
$error700: #d32f2f;
$error800: #c62828;
$error900: #b71c1c;

// high theme
$highMain: #fb8c00;
$high50: #fff3e0;
$high100: #ffe0b2;
$high200: #ffcc80;
$high300: #ffb74d;
$high400: #ffa726;
$high500: #ff9800;
$high700: #f57c00;
$high800: #ef6c00;
$high900: #e65100;

// medium theme
$mediumMain: #fbc02d;
$medium50: #fffde7;
$medium100: #fff9c4;
$medium200: #fff59d;
$medium300: #fff176;
$medium400: #ffee58;
$medium500: #ffeb3b;
$medium600: #fdd835;
$medium800: #f9a825;
$medium900: #f57f17;

// success theme
$successMain: #43a047;
$success50: #e8f5e9;
$success100: #c8e6c9;
$success200: #a5d6a7;
$success300: #81c784;
$success400: #66bb6a;
$success500: #4caf50;
$success700: #388e3c;
$success800: #2e7d32;
$success900: #1b5e20;

// informative theme
$informativeMain: #2873f6;
$informative50: #e8f0fe;
$informative100: #c4d9fd;
$informative200: #9dbffb;
$informative300: #76a6f9;
$informative400: #4f8df8;
$informative600: #0a5ceb;
$informative700: #084dc4;
$informative800: #073e9d;
$informative900: #052e76;

// warning
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// grey
$grey50: #f8fafc;
$grey100: #eef2f6;
$grey200: #e3e8ef;
$grey300: #cdd5df;
$grey500: #697586;
$grey600: #4b5565;
$grey700: #364152;
$grey900: #121926;

$darkPaper: #111936;
$darkTextPrimary: #bdc8f0;
$darkTextSecondary: #8492c4;

// ==============================|| JAVASCRIPT ||============================== //

:export {
  // paper & background
  paper: $paper;

  // primary theme
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;
  primary50: $primary50;
  primary100: $primary100;
  primary200: $primary200;
  primary300: $primary300;
  primary400: $primary400;
  primary500: $primary500;
  primary600: $primary600;
  primary700: $primary700;
  primary800: $primary800;

  // error theme
  errorMain: $errorMain;
  error50: $error50;
  error100: $error100;
  error200: $error200;
  error300: $error300;
  error400: $error400;
  error500: $error500;
  error700: $error700;
  error800: $error800;
  error900: $error900;

  // high theme
  highMain: $highMain;
  high50: $high50;
  high100: $high100;
  high200: $high200;
  high300: $high300;
  high400: $high400;
  high500: $high500;
  high700: $high700;
  high800: $high800;
  high900: $high900;

  // medium theme
  mediumMain: $mediumMain;
  medium50: $medium50;
  medium100: $medium100;
  medium200: $medium200;
  medium300: $medium300;
  medium400: $medium400;
  medium500: $medium500;
  medium600: $medium600;
  medium800: $medium800;
  medium900: $medium900;

  // success theme
  successMain: $successMain;
  success50: $success50;
  success100: $success100;
  success200: $success200;
  success300: $success300;
  success400: $success400;
  success500: $success500;
  success700: $success700;
  success800: $success800;
  success900: $success900;

  // informative theme
  informativeMain: $informativeMain;
  informative50: $informative50;
  informative100: $informative100;
  informative200: $informative200;
  informative300: $informative300;
  informative400: $informative400;
  informative600: $informative600;
  informative700: $informative700;
  informative800: $informative800;
  informative900: $informative900;

  // warning theme
  warningMain: $warningMain;
  warningLight: $warningLight;
  warningDark: $warningDark;

  // grey theme
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey900: $grey900;

  // common
  darkPaper: $darkPaper;
  darkTextPrimary: $darkTextPrimary;
  darkTextSecondary: $darkTextSecondary;
}
