.border-danger {
  border-left: 8px solid #fd3550 !important;
}

.radius-10 {
  border-radius: 10px !important;
}

.border-success {
  border-left: 8px solid #15ca20 !important;
}

hr {
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}
