.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
  border-radius: 50px !important;
  background-color: #888888;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.css-heg063-MuiTabs-flexContainer {
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  background-color: #f8f6f0 !important;
  border-radius: 50px !important;
  width: max-content !important;
}

.css-1aquho2-MuiTabs-indicator {
  width: 0 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: black !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root:hover {
  background-color: #888888;
  border-radius: 50px;
}

.css-1ujnqem-MuiTabs-root {
  padding: 5vh 0 0 0;
}

/*-------------------------------------------*/

body {
  background-color: #e0e0e0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.Header {
  background-color: #252525;
  height: 12vh;
  margin: 0 !important;
}

.header {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.Title-Content {
  display: block;
}

.Title {
  padding-top: 3vh;
  padding-right: 15vh;
  float: right;
  color: white;
}

.Button-Content {
  padding-top: 15px;
  padding-right: 20px !important;
}

.Button-Login {
  float: right;
}

.Button-Login:hover {
  background-color: #333333;
}

.waterMark {
  font-size: 1em;
  color: #8c8c8c;
  display: flex;
  position: absolute;
  user-select: none;
  margin: 20px 0 0 20px;
}

/*-------------------------------*/

.Status-success {
  background-color: #03c04a;
  height: 15px;
}

.Status-problem {
  background-color: #d32f2f;
  height: 15px;
}

.css-ahj2mt-MuiTypography-root {
  font-family: sans-serif !important;
  font-size: 1.4rem !important;
  line-height: 1.334 !important;
  letter-spacing: 0em !important;
}

.Cards {
  width: auto;
}

.Content-Cards {
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 50px;
}

.DataReports-Content {
  height: 15rem;
  overflow-y: scroll;
}

.hidden {
  display: none;
  visibility: hidden;
}
