.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
  border-radius: 50px !important;
  background-color: #888888;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.css-heg063-MuiTabs-flexContainer {
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  background-color: #f8f6f0 !important;
  border-radius: 50px !important;
  width: max-content !important;
}

.css-1aquho2-MuiTabs-indicator {
  width: 0 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: black !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root:hover {
  background-color: #888888;
  border-radius: 50px;
}

.css-1ujnqem-MuiTabs-root {
  padding: 5vh 0 0 0;
}

/*-------------------------------------------*/

body {
  background-color: #e0e0e0 !important;
}

.Header {
  height: 130px;
  background-color: #252525;
  display: flex;
  gap: screen();
}

.header {
  background: linear-gradient(to top, lime, 20%, cyan);
}

.Title-Content{
  height: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}
.Title{
  color: #e0e0e0;
  text-align: center;
  width: 230px;
}

.Button-Content{
  margin-top: 35px;
  margin-left: 20%;
}

@media screen and (max-width: 1200px){
  .Button-Content{
    margin-left: 10%;
  }
}
@media screen and (max-width: 900px){
  .Title-Content{
    margin-top: 26px;
    width: 150px;
  }
  .Title{
    width: 135px;
  }
}
@media screen and (max-width: 700px){
  .Title{
    width: 135px;
  }
  .Title-Content{
    margin-top: 26px;
    width:min-content;
  }
  .Button-Content{
    margin-top: 40px;
    margin-left: 0;
  }
}

.btn.btn-dark.Button-Login{
  font-size: 16px;
  background-color: #4e4e4e;
}
.btn.btn-dark.Button-Login:hover {
  background-color: #8c8c8c;
}

.waterMark {
  font-size: 1em;
  color: #8c8c8c;
  display: flex;
  position: absolute;
  user-select: none;
  margin: 20px 0 0 20px;
}

/*-------------------------------*/

.Status-success {
  background-color: #03c04a;
  height: 15px;
}

.Status-problem {
  background-color: #d32f2f;
  height: 15px;
}

.css-ahj2mt-MuiTypography-root {
  font-family: sans-serif !important;
  font-size: 1.4rem !important;
  line-height: 1.334 !important;
  letter-spacing: 0em !important;
}

.Cards {
  width: auto;
}

.Content-Cards {
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 50px;
}

.DataReports-Content {
  height: 15rem;
  overflow-y: scroll;
}

.hidden {
  display: none;
  visibility: hidden;
}
