/*Tab Button*/
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #e6e6e6 !important;
  border-radius: 50px !important;
  background-color: #797979;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.css-heg063-MuiTabs-flexContainer {
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  background-color: #c5c5c5 !important;
  border-radius: 50px !important;
  width: max-content !important;
}

.css-1aquho2-MuiTabs-indicator {
  width: 0 !important;
}

/*MODIFICAR TAMAÑO CUANDO ES CELULAR*/
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: #424242 !important;
  padding: 12px 18px !important;
}

@media screen and (max-width: 390px) {
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    width: 80px !important;
  }

  .logoUneat {
    height: 40px !important;
  }

  .Title-Content {
    padding-top: 30px !important;
  }

  .Title {
    font-size: 20px !important;
    width: 100px !important;
  }

  .Button-Content {
    padding-top: 0 !important;
  }

  .Button-Login {
    font-size: 10px !important;
  }
}

/*Hover*/
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root:hover {
  background-color: #5c5c5c;
  border-radius: 50px;
}

.css-1ujnqem-MuiTabs-root {
  padding: 6vh 0 0 0;
}

/*-------------------------------------------*/

body {
  background-color: #e1e1e1 !important;
}

.Header {
  height: 130px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 3%;
  padding-right: 3%;
  background: #333642;
}

.header {
  background: linear-gradient(87deg, #4d92c0 0, #1b557c 100%) !important;
}

.logoUneat {
  height: 70px;
}

.Title-Content {
  margin-right: 4%;
}

.Title {
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 35px;
  width: 25rem;
}

.Button-Content {
  padding-top: 12px;
  /* margin-right: 0%; */
}

.Button-Login {
  background-color: #e7e7e7;
  border-color: #282828;
  color: #000000;
}

.Button-Login:hover {
  background-color: #e7e7e7 !important ;
}

.waterMark {
  font-size: 1em;
  color: #8c8c8c;
  display: flex;
  position: absolute;
  user-select: none;
  margin: 20px 0 0 20px;
}

/*-------------------------------*/

.Status-success {
  background-color: #1584c9;
  height: 15px;
}

.Status-problem {
  background-color: #bf1b1b;
  height: 15px;
}

.css-ahj2mt-MuiTypography-root {
  font-family: sans-serif !important;
  font-size: 1.4rem !important;
  line-height: 1.334 !important;
  letter-spacing: 0em !important;
}

.Content-Cards {
  padding-top: 20px;
}

.DataReports-Content {
  height: 15rem;
  overflow-y: scroll;
}

.hidden {
  display: none;
  visibility: hidden;
}

/*-------------------------*/
.css-106c1u2-MuiBadge-badge {
  right: -7px !important;
  top: -4px !important;
}

.navbar-vertical.navbar-expand-md .navbar-brand-img {
  max-height: 3rem !important;
}

.Cards {
  box-shadow: 15px 15px 15px rgb(0 0 0 / 15%) !important;
}
